<div *ngIf="isLoading" class="mask"></div>
<div *ngIf="isLoading" class="spinner"></div>


<app-notifications *ngIf="isNotificationWindow" [notificationMessage]="notificationMessage"></app-notifications>


<div class="add-file__wrapper">
    <p>Uploader un fichier</p>
    <button (click)="toggleForm()">🔻</button>    
    <form (submit)="submitForm(); $event.preventDefault()" *ngIf="showForm">
        <div class="add-file__top">
            <label for="unit-letter">Choix de l'unitée : </label>
            <select [(ngModel)]="selectedLetter" name="letter">
                <option value="" disabled selected>Choisissez une unitée</option>
                <option *ngFor="let letter of diskUnits" [id]="letter.id_disk_units" [value]="letter.id_disk_units">{{ letter.letter }}</option>
            </select>
        </div>
    
          <label for="unit-file"></label>
          <input type="file" id="unit-file" name="file" accept=".zip" (change)="onFileChange($event)">
        <button type="submit">Ajouter</button>
    </form>
</div>

<table class="file__wrapper" *ngIf="dataAllFiles && dataAllFiles.length > 0">
    <thead class="file__header">
        <tr class="file__row">
            <th class="id">
                ID
            </th>
            <th>
                <tr class="title">Fichier</tr>
                <tr class="details">
                    <span class="category">Unité - Label</span></tr>
            </th>
            <th>ACTIONS</th>
        </tr>
    </thead>

    <tbody  class="file__body">
        <tr class="file__row" *ngFor="let file of dataAllFiles">
            <td id={{file.id_files}} class="id">
                {{ getArticlePropertyValue(file, 'id_files') }}
            </td>
            <td>
                <tr class="title">
                    {{ getArticlePropertyValue(file, 'name') }}
                </tr>
                <tr class="details">
                    <span class="category">{{ getArticlePropertyValue(file, 'letter') }} - {{ getArticlePropertyValue(file, 'label') }}</span>
                </tr>
            </td>

            <td class="file__column">
                <ng-container *ngIf="getFilePropertyValue(file, 'isDisplay'); else notDisplayed">
                    <i class="icon-displayed" (click)="toggleDisplayFile(file)"></i>
                </ng-container>
                <ng-template #notDisplayed>
                    <i class="icon-not-displayed" (click)="toggleDisplayFile(file)"></i>
                </ng-template>
            <i class="delete-icon"  (click)="deleteFile(file)">❌</i></td>
        </tr>
    </tbody>
</table>