@import '../../../styles/settings.scss';


select,
textarea,
input {
    width: 100%;
    padding: 5px;
    border: 1px solid $grey2;
}
label {
    padding: 5px;
}
img, button {
    max-width: 100%;

}

.create-article__tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    
    li {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 5px;

        input[type="checkbox"] {
            transform: scale(1.5); // Agrandit la checkbox de 50%
        }
}
}
.create-article__wrapper {
    display: grid;
    margin: 65px 10px 0 10px;


    p {
        font-size: 0.8rem;
        font-style: italic;
        text-align: center; 
    }

    button {
        border: none;
    }

    form {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        label {
        word-wrap: break-word; 
       font-size: 0.8rem;
        font-style: italic;
        text-align: center; 
        }

         button {
            word-wrap: break-word; 
         }
    }
}




.id{
color: $black;
text-align: center;
}

.title {
    font-size: 1rem;
    color: $orange;
}

.details {
    font-size: .8rem;
    .category {
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .date {
        font-weight: 100;
        font-style: italic;
    }
    
    .author {
        font-weight: 100;
        font-style: italic;
    }
}

.all-articles__wrapper {
    border: 1px solid $grey2;
    margin: 20px 10px 0 10px;
    width: -webkit-fill-available;


    .all-articles__header {
        background-color: $grey;

        .all-articles__row th {
            padding: 5px;
            word-wrap: break-word;
            vertical-align: middle;
            text-align: center;

            &:nth-child(2) {
                text-align: left;
            }
        }

        
    }


    .all-articles__body {
        background-color: $white;

        .all-articles__row {
            
            border-bottom: 1px solid $grey;


            .all-articles__column {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            .all-articles__content {
                vertical-align: middle;
            }
        }

        .icon-displayed {
             content: url('../../../assets/img/icons/eye-open.svg');
            max-width: 20px;
            margin: 5px;
            
            }
            
            .icon-not-displayed {
                content: url('../../../assets/img/icons/eye-close.svg');
                max-width: 20px;
                margin: 5px;
         
        }

        .edit-icon,
        .delete-icon {
            padding: 5px;
        }
    }
}
