@import '../../../styles/settings.scss';
@import '../../../styles/fonts.scss';


/////////////  Add content template form  /////////////

.add-templates__wrapper {
    margin: 65px 10px 20px 10px;
    display: flex;
    flex-direction: column;

    p {
        font-size: 0.8rem;
        font-style: italic;
        text-align: center;
    }

    button {
        border: none;
        width: 100%;
    }

    form {

        .template__wrapper-fildsets {
            display: flex;
            flex-direction: row;
            margin: 20px 0;
            overflow-x: scroll;

            img {
                max-width: 100%;
                padding: 10px;
            }
        }

        .template__fieldset {
            background-color: beige;
            max-width: 100%;
            min-width: 65%;
        }

        .template__button-radio {

            &::before {
                width: 30px;
                height: 30px;
            }

            &::after {
                width: 30px;
                height: 30px;
            }
        }
    }
}

p {
    font-size: 1.1rem;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

legend {
    font-size: 1.5rem;
    text-align: center;
}

.choice-buttons__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100%;
    ;
}

app-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #203C25;
    height: auto;
    padding: 5px;

    width: 100%;
    background-color: aliceblue;
}

///////////////////////////////////////////////////
////////////////// Mobil Style ////////////////////
///////////////////////////////////////////////////

.progress-bar__wrapper {
    display: hidden;
}

.add-content {
    position: absolute;
    width: 100%;
    top: 50px;

    button {
        width: 100%;
    }
}

.article__wrapper {

    line-height: 3rem;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 0 10px;

    /////////////////// Le header ///////////////////
    .header__wrapper {
        display: flex;
        flex-direction: column;

        .header__article-title {
            font-family: 'InterBold';
            line-height: 2rem;
            font-size: 2rem;
            text-align: center;
            transition: 300ms;

            h1 {
                font-size: calc($font-body + 0.2rem);
            }

        }

        .header__article-bloc--wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            padding: 10px;
            background-color: $grass5;

            .header__article-bloc--left {
                display: grid;
                grid-auto-columns: 1fr;

                .header__article-description {
                    font-family: 'InterLight';
                    line-height: 1.3rem;
                    display: flex;
                }

                .header__article-infos p {
                    font-size: .8rem;
                }
            }

            .header__article-bloc--right {
                display: flex;
                flex-direction: column;

                .header__article-cover img {
                    width: 100%;
                    transition: 300ms;
                }
            }
        }
    }

    /////////////////// Le main ///////////////////
    .main__content--wrapper,
    .main__content--form {
        font-family: 'InterLight';
        line-height: 2rem;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;

        .tools__wrapper {
            background-color: #e6e6e6;
            padding: 5px;
            display: flex;
            justify-content: space-around;

            span:hover {
                cursor: pointer;
            }
        }

        .main__article-box--global {

            .main__article-box--left {
                display: grid;
                grid-auto-columns: 1fr;
                flex-wrap: wrap;
                justify-content: flex-start;
                background-color: aliceblue;
                border-radius: 10px;
                height: fit-content;


                .main__article-subtitle--left {
                    font-size: calc($font-body + 0.5rem);
                    font-weight: 600;
                    text-decoration: underline;
                    margin: 2rem 0;
                }

                .main__article-text--left {
                    margin: 1rem 0;
                }

                .main__article-cover--left {
                    box-sizing: border-box;

                    img {
                        margin: 1rem 0;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }

            .main__article-box--center {
                display: grid;
                grid-auto-columns: 1fr;
                flex-wrap: wrap;
                justify-content: flex-start;
                background-color: aliceblue;
                border-radius: 10px;
                height: fit-content;

                .main__article-subtitle--center {
                    font-size: calc($font-body + 0.5rem);
                    font-weight: 600;
                    text-decoration: underline;
                    margin: 2rem 0;
                }

                .main__article-text--center {
                    margin: 1rem 0;
                }

                .main__article-cover--center {
                    box-sizing: border-box;

                    img {
                        margin: 1rem 0;
                        width: 100%;
                        max-width: fit-content;
                    }
                }
            }

            .main__article-box--right {
                display: grid;
                grid-auto-columns: 1fr;
                flex-wrap: wrap;
                justify-content: flex-start;
                background-color: aliceblue;
                border-radius: 10px;
                height: fit-content;

                .main__article-subtitle--right {
                    font-size: calc($font-body + 0.5rem);
                    font-weight: 600;
                    text-decoration: underline;
                    margin: 2rem 0;
                }

                .main__article-text--right {
                    margin: 1rem 0;
                }

                .main__article-cover--right {
                    box-sizing: border-box;

                    img {
                        margin: 1rem 0;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    /////////////////// Le Formulaire ///////////////////

    .main__content--form {

        .main__article-subtitle--left,
        .main__article-subtitle--right,
        .main__article-subtitle--center {
            width: 100%;

            input {
                border: dotted 2px;
                background-color: transparent;
                font-size: 1.2rem;
                text-decoration: underline;
                width: 100%;
            }
        }

        .main__article-text--left,
        .main__article-text--right,
        .main__article-text--center {
            width: 100%;

            textarea {
                font-family: 'InterRegular';
                border: dotted 2px;
                background-color: transparent;
                font-size: 1rem;
                line-height: 1.6rem;
                resize: none;
                width: 100%;
                height: 250px;
            }
        }
    }

    .footer__form--wrapper {
        img {
            max-width: 400px;
            display: flex;
        }
    }
}

.edit-component__wrapper {
    position: absolute;
    top: 0px;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;

    form {
        width: 100%;
    }

    /////////////////// Le main ///////////////////
    .edit-main__content--wrapper,
    .edit-main__content--form {
        line-height: 2.5rem;
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 10px;


        .edit-main__article-box--left {
            display: grid;
            grid-auto-columns: 1fr;
            flex-wrap: wrap;
            justify-content: flex-start;
            background-color: aliceblue;
            border-radius: 10px;
            padding: 10px;
            height: fit-content;
            width: 100%;

            .edit-main__article-subtitle--left {
                font-weight: 600;
                text-decoration: underline;
                margin: 2rem 0;
            }

            .edit-main__article-text--left {
                margin: 1rem 0;
            }

            .edit-main__article-cover--left {
                flex-direction: column;
            }

            .edit-main__article-cover--left img {
                margin: 1rem 0;
                max-height: 100%;
                max-width: 100%;
            }

        }

        .edit-main__article-box--center {
            display: grid;
            grid-auto-columns: 1fr;
            flex-wrap: wrap;
            justify-content: flex-start;
            background-color: aliceblue;
            border-radius: 10px;
            padding: 10px;
            height: fit-content;
            width: 100%;

            .edit-main__article-subtitle--center {
                font-weight: 600;
                text-decoration: underline;
                margin: 2rem 0;
            }

            .edit-main__article-text--center {
                margin: 1rem 0;
            }

            .edit-main__article-cover--center {
                flex-direction: column;
            }

            .edit-main__article-cover--center img {
                margin: 1rem 0;
                width: 100%;
                max-width: fit-content;

            }

        }

        .edit-main__article-box--right {
            display: grid;
            grid-auto-columns: 1fr;
            flex-wrap: wrap;
            justify-content: flex-start;
            background-color: aliceblue;
            border-radius: 10px;
            padding: 10px;
            height: fit-content;
            width: 100%;

            .edit-main__article-subtitle--right {
                font-weight: 600;
                text-decoration: underline;
                margin: 2rem 0;
            }

            .edit-main__article-text--right {
                margin: 1rem 0;
            }

            .edit-main__article-cover--right {
                flex-direction: column;
            }

            .edit-main__article-cover--right img {
                margin: 1rem 0;
                max-height: 100%;
                max-width: 100%;
            }

        }
    }

    /////////////////// Le Formulaire ///////////////////

    .edit-main__content--form {
        font-family: "InterLight";
        line-height: 2rem;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;

        .edit-main__article-subtitle--left,
        .edit-main__article-subtitle--right,
        .edit-main__article-subtitle--center {
            width: 100%;

            input {
                border: dotted 2px;
                background-color: transparent;
                font-size: 1.2rem;

                text-decoration: underline;
                width: 100%;
            }
        }

        .edit-main__article-text--left,
        .edit-main__article-text--right,
        .edit-main__article-text--center {
            width: 100%;

            textarea {
                border: dotted 2px;
                background-color: transparent;
                font-size: 1rem;
                line-height: 2.3rem;
                resize: none;
                width: 100%;
                height: 250px;

            }
        }

    }

    .footer__form--wrapper {
        img {
            max-width: 400px;
            display: flex;
        }
    }
}





///////////////////////////////////////////////////
////////////////// Tablet Style ///////////////////
///////////////////////////////////////////////////
@media screen and (min-width: 750px) {

    .header__article-bloc--wrapper {
        flex-direction: row !important;
    }

    .header__article-infos {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }


    .main__article-box--global {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .main__article-box--left {
            width: 50%;
            margin-right: 10px;

            .main__article-cover--left {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        }

        .main__article-box--center {
            width: 100%;

            .main__article-cover--center {
                text-align: center;
            }
        }

        .main__article-box--right {
            width: 50%;
            margin-left: 10px;

            .main__article-cover--right {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        }
    }


    .add-content {
        margin-top: 65px;
    }

    .main__content--form,
    .edit-main__content--form {
        flex-direction: row !important;

        .main__article-box--left,
        .edit-main__article-box--left {
            width: 100%;
            margin-right: 10px;
        }
        .main__article-box--center,
        .edit-main__article-box--center {
            width: 100%;
            
        }
        .main__article-box--right,
        .edit-main__article-box--right {
            width: 100%;
            margin-left: 10px;
        }

    }
}