<table class="all-users__wrapper" *ngIf="dataAllUsers && dataAllUsers.length > 0">
    <thead class="all-users__header">
        <tr class="all-users__row">
            <th class="id">
                ID
            </th>
            <th>
                <tr class="title">Username</tr>
                <tr class="details">
                    <span class="category">ETAT</span> (date d'inscription)
                    <span class="author">email d'inscription</span></tr>
            </th>
            <th>ACTIONS</th>
        </tr>
    </thead>

    <tbody  class="all-users__body">
        <tr class="all-users__row" *ngFor="let user of dataAllUsers">
            <td class="id">
                {{ getUserPropertyValue(user, 'id_users') }}
            </td>
            <td>
                <tr class="title">
                    {{ getUserPropertyValue(user, 'username') }}
                </tr>
                <tr class="details">
                    <span class="category" [ngClass]="getUserPropertyValue(user, 'isActivated') ? 'green' : 'red'">
                        {{ getUserPropertyValue(user, 'isActivated') ? 'Actif' : 'Inactif' }}
                    </span>
                    (inscrit le <time class="date">{{ getUserPropertyValue(user, 'registrationDate') | date:'dd/MM/yyyy'    }}</time>)
                    <span class="author">{{ getUserPropertyValue(user, 'email') }}</span>
                </tr>
            </td>
            <td class="all-users__column">
                <ng-container *ngIf="getUserPropertyValue(user, 'isActivated'); else notDisplayed">
                    <i class="icon-displayed" (click)="toggleActivateUser(user)"></i>
                </ng-container>
                <ng-template #notDisplayed>
                    <i class="icon-not-displayed" (click)="toggleActivateUser(user)"></i>
                </ng-template>
                <i class="edit-icon" (click)="selectUser(user)">🖊️</i>
                <i class="delete-icon" (click)="deleteUser(user)">❌</i>
            </td>
        </tr>
    </tbody>
</table>