<table class="all-certificates__wrapper" *ngIf="dataAllArticles && dataAllArticles.length > 0">
    <thead class="all-certificates__header">
        <tr class="all-certificates__row">
            <th class="all-certificates__column">ID</th>
            <th class="all-certificates__column">TITRE</th>
            <th class="all-certificates__column">NOTE</th>
            <th class="all-certificates__column">DATE</th>
            <th class="all-certificates__column">AUTEUR</th>

        </tr>
    </thead>
    <tbody class="all-certificates__body">
        <tr class="all-certificates__row" *ngFor="let article of dataAllArticles">
            <td class="all-certificates__column">{{ getArticlePropertyValue(article, 'id_certificates') }}</td>
            <td class="all-certificates__content">{{ getArticlePropertyValue(article, 'title') }}</td>
            <td class="all-certificates__content">{{ getArticlePropertyValue(article, 'note') }}</td>
            <td class="all-certificates__content">{{ getArticlePropertyValue(article, 'creationDate') }}</td>
            <td class="all-certificates__content">{{ getArticlePropertyValue(article, 'username') }}</td>
            
        </tr>
    </tbody>
</table>