@import '../../../styles/settings.scss';



.add-folder__wrapper {
    display: grid;
    margin: 65px 10px 0 10px;

    p {
        font-size: 0.8rem;
        font-style: italic;
        text-align: center; 
    }

    button {
        border: none;
    }

    form {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
        word-wrap: break-word; 
       font-size: 0.8rem;
        font-style: italic;
        text-align: center; 
        }

        input {
            width: 100%;
            padding: 5px;
            margin: 5px;
            border: 1px solid $grey2;
        
        }
         button {
            word-wrap: break-word; 
         }
    }
}




.id{
color: $black;
text-align: center;
}

.title {
    font-size: 1rem;
    color: $orange;
    text-transform: capitalize;
}

.details {
    font-size: .8rem;
    .category {
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .date {
        font-weight: 100;
        font-style: italic;
    }
    
    .author {
        font-weight: 100;
        font-style: italic;
    }
}

.folder__wrapper {
    border: 1px solid $grey2;
    margin: 20px 10px 0 10px;
    width: -webkit-fill-available;


    .folder__header {
        background-color: $grey;

        .folder__row th {
            padding: 5px;
            word-wrap: break-word;
            vertical-align: middle;
            text-align: center;

            &:nth-child(2) {
                text-align: left;
            }
        }        
    }


    .folder__body {
        background-color: $white;

        .folder__row {
            
            border-bottom: 1px solid $grey;


            .folder__column {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            .folder__content {
                vertical-align: middle;
            }
        }

        .icon-displayed {
             content: url('../../../assets/img/icons/eye-open.svg');
            max-width: 20px;
            margin: 5px;
            
            }
            
            .icon-not-displayed {
                content: url('../../../assets/img/icons/eye-close.svg');
                max-width: 20px;
                margin: 5px;
         
        }

        .edit-icon,
        .delete-icon {
            padding: 5px;
        }
    }
}
