<div *ngIf="isLoading" class="mask"></div>
<div *ngIf="isLoading" class="spinner"></div>


<app-notifications *ngIf="isNotificationWindow" [notificationMessage]="notificationMessage"></app-notifications>


<div class="add-folder__wrapper">
    <p>Ajouter un nouveau dossier</p>
    <button (click)="toggleDiskForm()">🔻</button>
    
    <form (submit)="submitForm(); $event.preventDefault()" *ngIf="showDiskSection">
        <label for="label">Label:</label>
        <input type="text" id="label" name="label" [(ngModel)]="label">
        <label for="label">Letter:</label>
        <input type="text" id="letter" name="letter" [(ngModel)]="letter">
        <button type="submit">Ajouter</button>
    </form>
</div>


<table class="folder__wrapper" *ngIf="dataUnit && dataUnit.length > 0">
    <thead class="folder__header">
        <tr class="folder__row">
            <th class="id">
                ID
            </th>
            <th>
                <tr class="title">Lettre</tr>
                <tr class="details">
                    <span class="category">Label</span></tr>
            </th>
            <th>ACTIONS</th>
        </tr>
    </thead>

    <tbody  class="folder__body">
        <tr class="folder__row" *ngFor="let itemUnit of dataUnit">
            <td id={{itemUnit.id_disk_units}} class="id">
                {{ getArticlePropertyValue(itemUnit, 'id_disk_units') }}
            </td>
            <td>
                <tr class="title">
                    {{ getArticlePropertyValue(itemUnit, 'letter') }}
                </tr>
                <tr class="details">
                    <span class="author">{{ getArticlePropertyValue(itemUnit, 'label') }}</span>
                </tr>
            </td>
            <td class="folder__column">
                <!-- <i class="edit-icon">🖊️</i> -->
                <i class="delete-icon" (click)="deleteItem(itemUnit.id_disk_units)">❌</i>
            </td>
        </tr>
    </tbody>
</table>